:root{
    --text-black:#010101;
    --button-pink:#ED017F;
    --para-grey:#676767;
    --section-heading:#343434;
    --footer-head:#363940;
    --black-40:#999999;
    --button-background:#FCE0EF;
    --white:#ffffff;
    --fb-color:#4B7FCD;
    --linkedin-color:#4A71FB;
    --utube-clr:#FF0000;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Metropolis";
    src:url("Font/metropolis/Metropolis-Regular.otf"), format(opentype);
}

body{
    font-family: "Metropolis",sans-serif;
    font-weight:500;
    font-size: 16px;
    line-height: 1.66;
    letter-spacing: 2px;
    height: 100vh;
}
ul li{
    list-style: none;
}
a {
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
.container{
    max-width: 1398px;
    width: 100%;
     margin:0 auto;
     padding:0 15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin:0 -15px;
}
h1{
    font-size: 57px;
    font-weight: 900;
    text-transform: capitalize;
    color:var(--text-black);
    line-height: 1.2;
}
h2,
.h2-title{
    font-size: 36px;
    font-weight:800;
    letter-spacing: 1.2;
    color:var(--section-heading);
    text-align: center;
    text-transform: capitalize;
}

h3{
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    color:var(--footer-head);
    text-transform: capitalize;
    padding-top: 10px;
    padding-bottom: 20px;
    gap: 18px;
}
h4{
 font-size: 21px;
 font-weight: 600;
 color:var(--footer-head);
 text-transform: uppercase;
 /* padding-top:20px; */
 text-align:start;
}
.h5-title{
font-size: 40px;
 font-weight: 900;
 line-height: 1.07;
 color:var(--button-pink); 
}
h5{
    font-size: 40px;
 font-weight: 900;
 line-height: 1.07;
 color:var(--section-heading);
  
}
.h6-title{
font-size: 18px;
 font-weight: 600;
 line-height: 1.2;
 color:var(--text-black);
}
.cmn-btn{
    display: inline-block;
    color:var(--white);
    background-color: var(--button-pink);
    padding:13px 20px;
    border:1px solid var(--button-pink);
    border-radius: 4px;
    text-transform: uppercase;
    transition: 0.5s ease;
}
.cmn-button{
    display: inline-block;
    color:var(--button-pink);
    padding:13px 20px;
    border:2px solid var(--button-pink);
    border-radius: 4px;
    text-transform: uppercase;
    transition: 0.5s ease; 
}
.col60{
     max-width: 60%;
    flex:0 0 60%;
    padding:0 15px;
}
.col40{
    max-width: 40%;
    flex:0 0 40%;
    padding:0 15px;
}
 .col25{
    max-width: 25%;
    flex:0 0 25%;
    padding:0 15px;
}
.col30{
       max-width: 30%;
    flex:0 0 30%;
    padding:0 15px;
}
 .col50{
     max-width: 50%;
    flex:0 0 50%;
    padding:0 15px;
}
.col20{
    max-width: 20%;
    flex:0 0 20%;
    padding:0 15px;
}
.col15{
     max-width: 15%;
    flex:0 0 15%;
    padding:0 15px;
}


/* ------------------------Header Section--------------------- */
.brand{
    display:block;
    max-width: 175px;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.navlinks{
    display:flex;
    align-items: center;
}
.navlinks li{
    padding:0 22px;
}
.navlinks li a{
    text-transform: uppercase;
    color:var(--text-black);
}
.navlinks li a:hover{
    color: var(--button-pink);
}
.social_icon{
    font-size: 24px;
    color:var(--button-pink);

}
.headerbtn .cmn-btn{
    text-transform: none;

}
.headerbtn .cmn-btn:hover{
    background-color: var(--utube-clr);
}
/* Hamburger Menu */
.hamburger {
  position: absolute;
  right: 165px;
  display: none;
  cursor: pointer;
  width: 30px;
  height: 25px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hamburger .bar {
  background-color: var(--text-black);
  width: 100%;
  height: 4px;
  border-radius: 5px;
} 
/* ------------------------Banner Section-------------------- */
.banner_content h1{
    font-size: 57px;
    font-weight: 800;
    text-transform: capitalize;
    color:var(--text-black);
    line-height: 1.2;
}
.banner_content p{
    padding-top:23px;
    font-size: 16px;
    color:var(--footer-list);
    line-height: 1.37;
}
.banner_content .cmn-btn{
    margin:34px 38px 20px 0;
    gap: 20px;
}
.banner_content .cmn-btn:hover{
    background-color: var(--utube-clr);
}
.banner_content .cmn-button:hover{
    background-color: var(--button-background);
}
.banner .row{
    align-items: center;
}
.banner_img{
    width:905px;
    min-height: 654px;
}
.social{
    display:flex;
    align-items: center;
    padding: 10px 10px;
}
.social p{
    padding-left:15px;
}
.socials{
    display: flex;
    padding:0 55px;
}
.socials li a i{
    font-size: 21px;
    margin-left: 30px;
}
.social a {
    color:var(--button-pink);
}
.socials li .socials_1 {
   color:var(--fb-color);
    /* margin:0 10px 10px 10px; */
}
.socials li .socials_2{
    color:var(--utube-clr);
}
.socials li .socials_3{
    color:var(--linkedin-color);
}
.socials li .socials_4{
    color:var(--button-pink);
}
/* --------------------------Customer Experience Section-------------------- */
.customer_experience{
    min-height:803px;
}
.cust_exp_head{
    padding:45px 180px 73px 200px;
}
.cust_exp_head h2{
    color:var(--section-heading);
    text-align: center;
}
.cust_exp_head p{
    padding:20px 130px 34px 95px;
    line-height: 1.3;
    text-align: center;
}
.card_1{
    width:259px;
    height:231px;
    padding:24px;
    gap: 18px;
    margin-left: 45px;
}
.card_1 p{
    font-size: 14px;
    font-weight:500;
    line-height: 1.71;
    color:var(--black-40);
}
.card_2{
    width:259px;
    height:200px;
    padding:14px;
    gap: 18px;
    margin-left: 45px;
}
.card_2 p{
   font-size: 14px;
   font-weight:500;
   line-height: 1.71;
   color:var(--black-40); 
}
.card_3{
    width:259px;
    height:207px;
    padding:24px;
    gap: 18px; 
    margin-left: 45px;
}
.card_3 p{
    font-size: 14px;
    font-weight:500;
    line-height: 1.71;
    color:var(--black-40); 
}
.card_4{
    width:259px;
    height:207px;
    padding:14px;
    margin-left: 25px;
}
.card_4 p{
   font-size: 14px;
    font-weight:500;
    line-height: 1.71;
    color:var(--black-40);  
}
.card_5{
   width:259px;
    height:231px;
    padding:24px;
    gap: 18px; 
    margin-left: 45px; 
}
.card_5 p{
    font-size: 14px;
    font-weight:500;
    line-height: 1.71;
    color:var(--black-40); 
}
.card_6{
  width:259px;
  height:207px;
  padding:24px;
  gap: 18px; 
  margin-left: 45px;
}
.card_6 p{
     font-size: 14px;
    font-weight:500;
    line-height: 1.71;
    color:var(--black-40); 
}
.card_7{
   width:259px;
   height:207px;
   padding:24px;
   gap: 18px; 
   margin-left: 45px;
}
.card_7 p{
    font-size: 14px;
    font-weight:500;
    line-height: 1.71;
    color:var(--black-40); 
}
.card_8{
   width:259px;
   height:207px;
   padding:24px;
   gap: 18px; 
   margin-left: 45px;
}
.card_8 p{
    font-size: 14px;
    font-weight:500;
    line-height: 1.71;
    color:var(--black-40); 
}
/* ------------------------our service section-------------------- */
.services{
  background-color:#FEF9FC;
  min-height: 793px;
}
.our_service_head{
     padding:99px 0;
}
.our_service_head h2{
    color:var(--section-heading);
    text-align: center;
}
.our_service_head p{
    font-family: "Metropolis";
    font-weight: 500;
    font-size: 16px;
    color:var(--black-40);
     text-align: center;
}

.service-row {
    height:267px;
    display: flex;
    justify-content: space-between;
}
.para{
    max-width:254px;
    display: flex;
    padding-top: 20px;
}
/* -------------------------result section------------------------- */
.result{
    height: 648px;
}
.result-head{
    padding:125px 150px 73px 200px;
}
.result-head p{
    padding:10px 150px 34px 150px;
    line-height: 1.3;
     letter-spacing: 1px;
    text-align: center;
}
.review-card-1 {
    width:172px;
    height:76px;
    gap:20px;
    margin-left:45px;
}
.review-card-1 p{
    font-size: 16px;
    font-weight:500;
    line-height: 1.5;
    letter-spacing: 1px;
    color:var(--para-grey); 
    padding-top: 10px;
}
.review-card-2{
    width:172px;
    height:101px;
    gap: 20px;
    margin-left: 45px;
}
.review-card-2 p{
    font-size: 16px;
    font-weight:500;
    line-height: 1.5;
    letter-spacing: 1px;
    color:var(--para-grey); 
    padding-top: 10px;
}
.review-card-3 {
    width:172px;
    height:101px;
    gap: 20px;
    margin-left: 45px;
}
.review-card-3 p{
     font-size: 16px;
    font-weight:500;
    line-height: 1.5;
     letter-spacing: 1px;
    color:var(--para-grey);  
    padding-top: 10px;
}
.review-card-4{
     width:172px;
    height:101px;
    gap: 20px;
    margin-left: 45px;
}
.review-card-4 p{
        font-size: 16px;
    font-weight:500;
    line-height: 1.5;
     letter-spacing: 1px;
    color:var(--para-grey); 
    padding-top: 10px;
}
.review-card-5 {
    width:172px;
    height:76px;
    gap:20px;
    margin:80px 0 0 45px;
}
.review-card-5 p{
    font-size: 16px;
    font-weight:500;
    line-height: 1.5;
     letter-spacing: 1px;
    color:var(--para-grey); 
    padding-top: 10px;
    text-transform: uppercase;
}
.review-card-6{
    width:172px;
    height:101px;
    gap: 20px;
     margin:80px 0 0 45px;
}
.review-card-6 p{
    font-size: 16px;
    font-weight:500;
    line-height: 1.5;
     letter-spacing: 1px;
    color:var(--para-grey); 
    padding-top: 10px;
    text-transform: uppercase;
}
.review-card-7 {
    width:172px;
    height:101px;
    gap: 20px;
     margin:80px 0 0 45px;
}
.review-card-7 p{
     font-size: 16px;
    font-weight:500;
    line-height: 1.5;
    letter-spacing: 1px;
    color:var(--para-grey); 
    padding-top: 10px; 
    text-transform: uppercase;
}
.review-card-8{
    width:172px;
    height:101px;
    gap: 20px;
     margin:80px 0 0 45px;
}
.review-card-8 p{
    font-size: 16px;
    font-weight:500;
    line-height: 1.5;
    letter-spacing: 1px;
    color:var(--para-grey); 
    padding-top: 10px;
    text-transform: uppercase;
}
/*-------------------------- Footer section----------------------- */
.footer{
    min-height: 366px;
    padding-left: 45px;
    padding-bottom: 100px;
}
.footer_list_1{
    height: 192px;
    padding:150px 0 0 0;
}
.footer_list_1 h6{
    padding-bottom: 15px;
}
.footer_list_1 ul li{
    font-size: 14px;
    color:var(--para-grey);
    font-weight: 500;
}
.footer_social{
    display:flex;
    align-items: center;
    padding: 40px 0;
}
.footer_socials{
     display: flex;
}
.footer_socials li a i{
    font-size: 21px;
    margin-right: 30px;
}
.footer_socials li .socials_1{
    color:var(--fb-color);
}
.footer_socials li .socials_2{
    color:var(--utube-clr);
}
.footer_socials li .socials_3{
    color:var(--linkedin-color);
}
.footer_socials li .socials_4{
    color:var(--button-pink);
}
.footer_list_2{
    height:192px;
    padding-top: 150px;
}
.footer_list_2 h6{
    padding-bottom: 15px;
}
.footer_list_2 ul li{
 margin-bottom: 5px;
}
.footer_list_2 ul li a{
     font-size: 14px;
    color:var(--para-grey);
    font-weight: 500;
    
}
.footer_list_3{
    min-height: 192px;
      padding-top: 150px;
}
.footer_list_3 h6{
    padding-bottom: 15px;
}
.footer_list_3 ul li{
 margin-bottom: 5px;
}
.footer_list_3 ul li a{
     font-size: 14px;
    color:var(--para-grey);
    font-weight: 500;
    
}
.footer_list_4{
     min-height: 192px;
      padding-top: 150px; 
}
.footer_list_4 h6{
    padding-bottom: 15px;
}
.footer_list_4 ul li{
 margin-bottom: 5px;
}
.footer_list_4 ul li a{
     font-size: 14px;
    color:var(--para-grey);
    font-weight: 500;
    
}
.footer_list_5{
    min-height: 192px;
    padding-top: 200px; 
}
.footer_list_5 a{
    color:var(--button-pink);
}
@media (max-width:1199px){
    .banner_content h1 {
        font-size: 40px;
    }
    .banner_content{
      text-align: center;
        
    }
    .banner .col40{
        max-width: 100%;
        flex:0 0 100%;
    }
    .banner .col60{
        max-width: 100%;
        flex:0 0 100%;
    }
    .social {
       display: flex;
       justify-content: center;
    }
    
}
@media (max-width: 1024px) {
     .navbar{
        padding:25px 0;
        margin:25px 0;
     }
}
@media (max-width: 991px) {
    .hamburger{
        display: flex;
    }
    .navlinks {
    position: absolute;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100vh;
    background: var(--button-pink);
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
    transition: 0.4s ease-in-out;
    z-index: -1;
  }
  .navlinks li {
    margin: 10px 0;
    text-align: center;
  }
  .navlinks li a {
    color: var(--white);
  }
  .navlinks.active {
    left: 0;
    z-index: 999;
  }
  .customer_experience .col25 {
    max-width: 50%;
    flex:0 0 50%;
  }
  .all_result .col25{
    max-width:50%;
    flex:0 0 50%;
  }
     .footer_list_1,
     .footer_list_2,
     .footer_list_3,
     .footer_list_4,
     .footer_list_5{
        margin:400px 0;
     }
}
@media (max-width:767px){
    .banner_content{
      text-align: center;
        
    }
    .cust_exp_head h2{
        font-size: 28px;
    }
    .cust_exp_head p{
        max-width: 100%;
        font-size: 15px;
        text-align: justify;
    }
    .customer_experience .col25{
        max-width: 500%;
        flex: 0 0 50%;
    }
    .all_result .col25{
        max-width: 100%;
        
    }
    .footer .col20{
        max-width: 100%;
    }
    .footer .col15
    {
        max-width: 100%;
    }
     .footer_list_1,
     .footer_list_2,
     .footer_list_3,
     .footer_list_4,
     .footer_list_5{
        margin:500px 0;
    }
}

